<ion-header>
  <ion-toolbar class="center">
      <ion-title color="success">{{ "register.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Este es de guardar-->
  <div *ngIf="!id_user_add">
    <form [formGroup]="registerClient" (ngSubmit)="validate_form()">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ "register.name" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="text" name="names" formControlName="names"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ "register.lastname" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="text" name="lastnames" formControlName="lastnames"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ "register.document" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="text" name="document" formControlName="document"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item style="display: flex; width: 100%;">
                  <ion-label position="floating">{{ "register.email" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="email" name="email" formControlName="email"></ion-input>
                  <ion-icon style="z-index: 99" name="alert" *ngIf="registerClient.get('email').hasError('pattern') && registerClient.get('email').touched" item-end color="secondary" (click)="presentToast('La correo debe tener un formato válido ejemplo@ejemplo.com')"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ "register.phone" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="text" name="phone" formControlName="phone"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ "register.username" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="text" name="username" formControlName="username"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ "register.password" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="password" name="password" formControlName="password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{ "register.confirm_password" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="password" name="confirm_password" formControlName="confirm_password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1">
                <div>
                  <ion-checkbox class="borde" color="primary" slot="start" name="term_condition" formControlName="term_condition"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col size="11">
                <div>
                  &nbsp;<a href="#">{{ "register.term_condition" | translate }}</a>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button type="submit" expand="block" color="success">{{ "register.create_account" | translate }}</ion-button>
                <ion-button expand="block" color="primary" routerLink="{{ 'routes.login' | translate }}">{{ "general.return" | translate }}</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </form>
  </div>

</ion-content>
