<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!id_user_add" color="primary"><b>{{ "address.new_address" | translate }}</b></ion-title>
    <ion-title *ngIf="id_user_add" color="success"><b>{{ "address.edit_address" | translate }}</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--Este es de guardar-->
  <div *ngIf="!id_user_add">
    <form  (ngSubmit)="save_new_address_user()">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ "address.title_address" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="text" name="address_title" [(ngModel)]="new_address.address_title"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ "address.user_address" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input type="text" name="user_address" [(ngModel)]="new_address.user_address"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ "address.description_user_address" | translate }}</ion-label>
                  <ion-input type="text" name="description_user_address" [(ngModel)]="new_address.description_user_address"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ "address.state" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                    <ionic-selectable
                    name="id_muni"
                    [(ngModel)]="new_address.id_muni"
                    [items]="states"
                    itemValueField="id_muni"
                    itemTextField="nombre_muni"
                    [hasVirtualScroll]="true"
                    closeButtonText="Cancelar"
                    [canSearch]="true">
                  </ionic-selectable>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button type="submit" expand="block" color="primary">{{ "address.save_address" | translate }}</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </form>
  </div>

<!--Este es de edicion-->
<div *ngIf="id_user_add">
  <form  (ngSubmit)="update_address_user()">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">{{ "address.title_address" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                <ion-input type="text" name="address_title" [(ngModel)]="data_edit_address.address_title"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">{{ "address.user_address" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                <ion-input type="text" name="user_address" [(ngModel)]="data_edit_address.user_address"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">{{ "address.description_user_address" | translate }}</ion-label>
                <ion-input type="text" name="description_user_address" [(ngModel)]="data_edit_address.description_user_address"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">{{ "address.state" | translate }}<ion-text color="danger" >*</ion-text></ion-label>
                  <ionic-selectable
                  name="id_muni"
                  [(ngModel)]="data_edit_address.id_muni"
                  [items]="states"
                  itemValueField="id_muni"
                  itemTextField="nombre_muni"
                  [hasVirtualScroll]="true"
                  closeButtonText="Cancelar"
                  [canSearch]="true">
                </ionic-selectable>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block" color="success">{{ "address.update_address" | translate }}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</div>

</ion-content>
