<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary"><b>{{ "establishment_products.title" | translate }}</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title class="title" color="light" size="small"><b>{{ data_establishment.name_establecimiento }}</b></ion-title>
  </ion-toolbar>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <!--<ion-list *ngIf="products">
    <ion-item *ngFor="let product of products">
      <ion-label>
        <h2><b>{{ product.name_product }}</b></h2>
        <p>{{ product.description_product }}</p>
        <p>{{ product.name_presentation_product }}</p>
        <ion-text color="danger"><small>${{ product.value_iva_product }}</small></ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
-->

  <ion-list>
    <ion-item *ngFor="let p of products2">
      <ion-label>
        <h2><b>{{ p.name }}</b></h2>
      </ion-label>
      <ion-row>
        <ion-col size ="8">
          <ion-label>
            <small color="danger">{{ p.price | currency: "COP":"symbol" }}</small>
          </ion-label>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <ion-button fill="clear" (click)="addToCart(p)">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
