.logo {
    max-width: 150px;
    height: 150px;
    margin: auto;
    display: block;
  }

.fondo{
  background: #FAFAFA;;
}

.title{
  background-color: #36abe0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.borde {
  border-radius: 25px !important;
  overflow: hidden;
}