<ion-content padding>
  <form (ngSubmit)="login()">
    <ion-card>
      <ion-card-content class="fondo">
        <ion-grid>
          <ion-row>
            <ion-col class="center">
              <ion-title color="dark">{{ "login.init_session" | translate }}</ion-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-img class="logo borde" src="../../assets/icon/imagen.png"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="text" name="user" placeholder="{{ 'login.user' | translate }}" [(ngModel)]="userData.username" required autocomplete="off"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="password" name="password" placeholder="{{ 'login.password' | translate }}" [(ngModel)]="userData.password" required autocomplete="off"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="center">
              <ion-button color="brand-succes" shape="round" expand="block" type="submit">{{ "login.deposit" | translate }}</ion-button>
              <ion-button color="brand-secondary" shape="round" expand="block" (click)="goRegister()" >{{ "login.register" | translate }}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" class="center">
              <ion-text><small>{{ "login.forgot_password" | translate }}</small></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>