.border{
    border-top: 1px solid #9A9A9A !important;
}

.size_icon{
    font-size: larger;
}

.none-padding{
    padding-bottom: 0px;
}

.title_class{
    padding-top: 16px;
    padding-right: 13%;
    color: #2dd36f;
}