<!--Aqui esta la seccion del menu-->
<ion-app>

    <ion-menu side="start" menuId="custom" contentId="main-content" class="my-custom-menu" *ngIf="storageService.token_user != ''">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{ "general.establishment_name" | translate }}</ion-list-header>
          <ion-note>{{ "general.welcome" | translate }}</ion-note>

          <!--Inicio-->
          <ion-item  routerLink="{{ 'routes.home' | translate }}" (click)="close()">
            <ion-icon slot="start" name="grid"></ion-icon>
            <ion-label>{{ "menu.home" | translate }}</ion-label>
          </ion-item>
          <!--Gestion de mi perfil-->
            <ion-item  routerLink="{{ 'routes.profile' | translate }}" (click)="close()">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>{{ "menu.profile" | translate }}</ion-label>
            </ion-item>
          <!--Gestion de direcciones-->
            <ion-item  routerLink="{{ 'routes.address' | translate }}" (click)="close()">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>{{ "menu.address" | translate }}</ion-label>
            </ion-item>
          <!--Cerrar sesión-->
            <ion-item (click)="logout()" lines="none" detail="false">
              <ion-icon slot="start" name="power"></ion-icon>
              <ion-label>{{ "menu.close_sesion" | translate }}</ion-label>
            </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>


    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
