.padding{
    padding-left: 20px;
    padding-right: 10px;
    font-size: medium;
}

.title{
    background-color: #2dd36f;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sin-padding{
    padding: 0px;
}

.green{
    color: #2dd36f
}

.red{
    color: #eb445a
}

.sin-margin{
    margin: 0px;
}