<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary"><b>{{ "establishment.title" | translate }}</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title class="title" color="light">{{ "establishment.welcome" | translate }}</ion-title>
  </ion-toolbar>
  <div class="padding">{{ "establishment.initial_message" | translate }}</div>
</ion-content>
